@use "../../presets/index" as *;
@use "../../mixins/index" as *;

.form {
  padding: $gap-lg 0;

  background-color: $color-primary;

  &__container {
    display: grid;

    @extend %container;
    gap: $gap;
    @include md-min {
      grid-template-columns: repeat(3, 1fr);
    }
    @include md-sm {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  &__group {
    &:nth-of-type(1) {
      @include md-sm {
        grid-column: 1 / span 2;
      }
    }

    &-input {
      width: 100%;
      height: 60px;
      padding-right: $gap-lg;
      padding-left: $gap-lg;

      transition: background-color 0.5s, border-color 0.5s;
      letter-spacing: 0.15em;

      color: $color-white;
      border: 2px solid rgba($color-white, 0);
      border-bottom-color: rgba($color-white, 0.25);
      background-color: rgba($color-white, 0.05);

      font-size: 1.125rem;

      &::placeholder {
        color: #5c7588;
      }

      &:hover,
      &:focus {
        border-color: rgba($color-white, 0.15);
        border-bottom-color: $color-white;
        background-color: rgba($color-white, 0.15);

        &::placeholder {
          color: #8c9bab;
        }
      }
    }

    &-btn {
      transition: background-color 0.5s, border-color 0.5s;

      background-color: rgba($color-white, 0.1);

      width: 100%;
      height: 60px;
      padding-right: $gap-lg;
      padding-left: $gap-lg;

      transition: background-color 0.5s, border-color 0.5s;
      letter-spacing: 0.1em;

      color: $color-white;
      border: 2px solid rgba($color-white, 0);
      border-bottom-color: rgba($color-white, 0.25);
      background-color: rgba($color-white, 0.05);

      font-size: 1.125rem;

      &:hover,
      &:focus {
        border: 2px solid $color-white;
        background-color: $color-accent;
      }
    }
  }
}

.visually-hidden {
  position: absolute;

  overflow: hidden;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;

  white-space: nowrap;

  border: 0;
}
